.ground {
  transform: rotate(90deg);
  display: inline-block;
  font-family: "JetBrains Mono", monospace;
  color: var(--focus-color);
  font-size: 70pt;
  user-select: none;
  width: 100%;
  line-height: 0.5em;
  text-align: center;
}

.bug {
  fill: var(--focus-color);
  height: 5em;
  width: 5em;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}